@import '@styles/base';

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;

  .bgHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../static/images/bg-header.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $font-roboto;

    .textHeader {
      @include directionY;
      justify-content: center;
      padding: 150px 50px;
      font-style: italic;
      color: $color-white;

      h1 {
        max-width: 620px;
        font-weight: 100;
        font-size: 64px;
        line-height: 71px;
      }

      p {
        max-width: 750px;
        font-weight: 100;
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

  .headText {
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    padding: 30px;

    h1 {
      color: black;
      font-size: 48px;
    }
  }

  .boxInput {
    @include directionX;
    width: 100%;
    padding: 0 70px;

    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: none;
      outline: none;
    }

    button {
      padding: 0 20px;
      border-radius: 5px;
      border: none;
      background-color: $btn-color;
      color: $color-white;
    }
  }

  .gridWrapper {
    padding: 30px;
  }
}
