@import "../../styles/base.scss";

.btn {
  @include flex;
  justify-content: end;
  margin-top: 420px;
  button {
    padding: 10px 20px;
    background-color: $marine-blue;
    border: none;
    color: $light-gray;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
  }
}
