@import "../../../../styles/base.scss";

h1 {
  color: $marine-blue;
}

p {
  color: $cool-gray;
}

.form {
  @include flex;
  color: $marine-blue;
  flex-direction: column;
  gap: 50px;
  padding-top: 20px;
  .text-input {
    width: 100%;
    label {
      font-weight: 500;
    }
    input {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid $light-gray;
      border-radius: 5px;
      outline: none;
      padding: 20px;
    }
  }
}
.info {
  @include flex;
  flex-direction: column;
  gap: 20px;
  max-width: 90%;
  max-height: 50px;
  .btn {
    @include flex;
    justify-content: space-between;
    margin-top: 420px;
    .btn-next {
      padding: 10px 20px;
      background-color: $marine-blue;
      border: none;
      color: $light-gray;
      border-radius: 5px;
      height: 40px;
      cursor: pointer;
    }
    .btn-back {
      padding: 10px 20px;
      background-color: transparent;
      color: $marine-blue;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      height: 40px;
      cursor: pointer;
    }
  }
  .btn-alternative {
    @include flex;
    justify-content: end;
    margin-top: 300px;
    .btn-next {
      padding: 10px 20px;
      background-color: $marine-blue;
      border: none;
      color: $light-gray;
      border-radius: 5px;
      height: 40px;
      cursor: pointer;
    }
  }
}
